body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体',
    'ヒラギノ角ゴ Pro W3', sans-serif;
}

.page-title {
  font-size: 3rem;
  font-weight: normal;
  margin-top: 30px;
  text-align: center;
  font-family: 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体',
    'ヒラギノ角ゴ Pro W3', sans-serif;
}
.sub-title {
  font-size: 2rem;
  padding: 10px 8px 0px 0px;
  margin-bottom: 15px;
  border-bottom: 2px #31136e solid;
  font-weight: normal;
  font-family: 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体',
    'ヒラギノ角ゴ Pro W3', sans-serif;
}
#keyword {
  line-height: 200%;
  width: 23rem;
}
#keyword_submit {
  border: none;
  cursor: pointer;
  background: #383838;
  border-radius: 5px;
  color: #fff;
  padding: 10px 30px;
  margin-top: 10px;
}
input {
  font-family: 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体',
    'ヒラギノ角ゴ Pro W3', sans-serif;
}
.searchByItem > h2 {
  cursor: pointer;
  position: relative;
}
.searchByItem > h2:after {
  content: ' ';
  position: absolute;
  left: 185px;
  top: 30px;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px;
  border-right: solid 2px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.searchByItem > h2.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}
.searchByItem > label {
  display: block;
  margin-bottom: 8px;
}
ul,
li {
  list-style: none;
  padding: 0;
}
.searchByItem {
  position: relative;
}
.searchItem {
  position: relative;
  display: flex;
  margin: 5px auto;
}
.searchItem > label {
  flex-basis: 15rem;
}
#item_submit {
  border: none;
  cursor: pointer;
  background: #383838;
  border-radius: 5px;
  color: #fff;
  padding: 10px 30px;
  margin-top: 10px;
}
#items {
  display: none;
}

@media screen and (max-width: 560px) {
  #keyword {
    width: 96%;
  }
  .searchItem > input {
    flex-basis: 100%;
    margin-right: 10px;
  }
  #keyword_submit,
  #item_submit {
    width: 98%;
  }
}
#keyword_submit:hover,
#item_submit:hover {
  background-color: #31136e;
}

#list > .resultBox {
  margin: 0 auto;
  border-bottom: black 1px dashed;
}
#list > .resultBox > .valueWrap {
}
#list > .resultBox > .valueWrap > .categoryNameWrap {
  display: flex;
  /* justify-content: space-between;
  max-width: 600px; */
}

#list > .resultBox > .valueWrap > .categoryNameWrap > .category {
  font-weight: bold;
  flex-basis: 10rem;
  vertical-align: bottom;
  margin: 0.3rem 0;
}
#list > .resultBox > .valueWrap > .categoryNameWrap > .name {
  margin: 0.3rem 0;

  flex-basis: 550px;
}
#list > .resultBox > .valueWrap > .categoryNameWrap > .number {
  flex-basis: 100px;
  text-align: right;
  margin: 0.3rem 0;
}

/* #list > .resultBox > div {
  width: 50%;
} */
#list > .resultBox > .valueWrap > div {
  display: flex;
}

#list > .resultBox p {
  margin: 0.3rem 2rem;
  margin-left: 0;
}

footer {
  height: 100px;
}
